version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      production-dependencies:
        patterns:
          - "next"
          - "react"
          - "react-dom"
      development-dependencies:
        dependency-type: "development"
